/* Custom footer styling */
.footer {
    background-color: #343a30; /* Drak background */
    color: white;
    padding: 40px 0;
}
.footer a {
    color: #adb5bd; /* Light gray links */
    text-decoration: none;
}
.footer a:hover {
    color: white;
}